* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #171717;
    font-size: 18px;


}


h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

button {
    padding: 12px 27px;
    border: none;
    background-color: #27AE60;
    color: #fff;
    font-family: 'DM Sans', sans-serif !important;
    font-size: 16px;
    font-weight: 500;
}

button:hover{
    background-color: #208f4e;
}

.navbar {
    background-color: #171717;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.navbar .navbar-brand:hover{
    color: #27AE60;

}
.navbar .navbar-brand .dot-logo {
    color: #27AE60;
}

.navbar .navbar-nav a{
    color: #fff !important;
}

.navbar .navbar-nav a:hover{
    color: #27AE60;
}

.navbar .navbar-nav a{
    margin-left: 42px;
}

.navbar .navbar-toggler {
    border: none;

}

.banner {
   padding: 80px 0px;
}

.banner-info {
    margin-bottom: 50px;
}

.banner-info h1 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
}
.banner-info span {
    display: block;
}

.banner-info p {
    color: #828282;
    font-weight: 500;
}

.banner-info button {
    margin: 0px 5px;
}

.banner-info .learn-more {
    background-color: transparent;
    border: 1px solid #fff;
}

.banner-info .learn-more:hover {
    border: 1px solid #27AE60;
    background-color: #27AE60;
    color: #fff;
    font-family: 'DM Sans', sans-serif !important;
    font-size: 16px;
    font-weight: 500;
}

.tools {
    padding: 50px 0px;
}

.tools-container {
    padding: 35px 37px 55px 37px;
    background-color: #212121;
}

.tools-container h4 {
    margin-bottom: 30px;
}

.tools-container .tools-skill {
    margin-top: 50px;
}

.tools-container .tools1{
    width: 294px;
    height: 54px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
    background-image: url("./images/toolsimg.png");
}

.tools-container .tools2{
    width: 293px;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url("./images/toolsimg2.png");
}



.tools-container h3{
    color: #4f4f4f;
    font-size: 48px;
    font-weight: 600;
}

.tools-container h4 {
    color: #208f4e;
    font-size: 20px;
    font-weight: 600;
}

.about-me {
    padding: 50px 0px;
}

.highlight {
    margin-top: 50px;
}

.highlight > *{
    margin-bottom: 30px;
}

.web-development {
    padding: 33px 44px;
    border: 1px solid #000000;
    border-bottom: 5px solid #27AE60;
    background-color: #212121;
}

.web-development h3 {
    margin-top: 33px;
    font-size: 32px;
    font-weight: 500;
    color: #535353;
}
.web-development h3 span {
    display: block;
}

.development {
    padding: 33px 44px;
    border: 1px solid #000000;
    background-color: #212121;
}

.development h3 {
    margin-top: 33px;
    font-size: 32px;
    font-weight: 500;
    color: #535353;
}

.development h3 span {
    display: block;
}

.projects {
    padding: 50px 0px;
}

.projects .project-container .first-row > *{
    margin-bottom: 20px;
}

.projects .project-container .second-row > *{
    margin-bottom: 20px;
}

.project-container img {
    width: 366px;
    height: 366px;
}

.contact {
    padding: 50px 0px;
}

.contact input {
    width: 342px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #4f4f4f;
}

.contact input::placeholder {
    color: #4f4f4f;
    font-family: 'DM Sans', sans-serif !important;
    font-size: 15px;
    font-weight: 600;
}

.contact textarea {
    width: 342px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #4f4f4f;
}

.contact textarea::placeholder {
    color: #4f4f4f;
    font-family: 'DM Sans', sans-serif !important;
    font-size: 15px;
    font-weight: 600;
}

footer {
    padding: 50px 0px;
}

footer h5 {
    color: #4f4f4f;
    font-size: 16px;
}

@media screen and (min-width: 768px) {

    .banner {
        padding: 100px 0px;
    }
    .banner img {
        width: 300px;
        height: 300px;
    }

    .banner .banner-left {
        text-align: left ;
    }

    .banner .mobile-arrow {
        display: flex;
        justify-content: center;
    }
    .banner .mobile-arrow img{
        width:35px;
        height: 35px;
    }

    .about-me {
        padding: 80px 0;
    }

    .about-me .row > * {
        margin: 0px 10px;
        margin-bottom: 30px;
    }
    
    .development{
        padding: 33px 20px;
    }

    .web-development {
        padding: 33px 20px;
    }

    .about-me .highlight h3 {
        font-size: 20px;
    }

    .about-me .highlight > * {
        margin: 0px 5px;
    }


    .tools {
        padding: 80px 0px;
    }

    .tools-container h3 {
        margin: 0px 20px;
    }

    .project {
        padding: 80px 0;
    }
    .projects .project-container .first-row img {
        margin: 0 5px;
        margin-bottom: 10px;
        width: 200px;
        height: 200px;
    }

    .projects .project-container .second-row img {
        margin: 0 5px;
        margin-bottom: 10px;
        width: 200px;
        height: 200px;
    }


    .contact input {
        width: 500px;
    }

    .contact textarea{
        width: 500px;
    }

    .contact textarea {
        height: 4em;
    }

    footer {
        padding: 80px 0px;
    }
    
}

@media screen and (min-width: 1024px) {
    
    .navbar {
        padding: 10px 50px;
        background-color: #171717;
    }

    .banner {
        padding: 120px 0px;
    }
    .banner img {
        width: 400px;
        height: 400px;
    }

    .banner h1 {
        font-size: 48px;
    }

    .banner p {
        font-size: 18px;
    }

    .tools {
        padding: 100px 0px;
    }
    
    h2 {
        font-size: 48px;
    }

    .project {
        padding: 100px 0;
    }
    .projects .project-container .first-row img {
        margin: 0 5px;
        margin-bottom: 30px;
        width: 200px;
        height: 200px;
    }

    .projects .project-container .second-row img {
        margin: 0 5px;
        margin-bottom: 30px;
        width: 200px;
        height: 200px;
    }

   .contact input {
        width: 800px;
    }

    .contact textarea{
        width: 800px;
    }

    .contact textarea {
        height: 4em;
    }

    footer {
        padding: 100px 0px;
    }
}


@media screen and (min-width: 1440px) {

    .navbar {
        padding: 10px 100px;
        background-color: #171717;
    }
    
    .banner img {
        width: 617px;
        height: 617px;
    }
    
    .projects .project-container .first-row img {
        margin: 0 15px;
        margin-bottom: 30px;
        width: 400px;
        height: 408px;
    }

    .projects .project-container .second-row img {
        margin: 0 15px;
        margin-bottom: 30px;
        width: 400px;
        height: 408px;
    }
}
